.ipynb_checkpoints/
saved_models/signet_f_lambda_0.95.pth
preprocessing/__pycache__/normalize.cpython-37.pyc
featurelearning/__pycache__/__init__.cpython-37.pyc
saved_models/gpds4k_net.pth
featurelearning/models/__pycache__/__init__.cpython-37.pyc
wd/__pycache__/find_largest_image.cpython-37.pyc
saved_models/signet.pth
featurelearning/models/__pycache__/signet.cpython-37.pyc
preprocessing/__pycache__/__init__.cpython-37.pyc
saved_models/gpds4k_net.zip
*.pth
npz/
featurelearning/__pycache__/
wd/versions/
